# Сбор и разметка данных для машинного обучения

## Домашняя работа №2.

### Defenition of done

- Возьмите открытый табличный датасет, набор текстовых данных(например, отзывы о продукте) или набор изображений(можно взять из открытых источников).
    -  есть опция, что можете взять, то что было в первом дз
- Напишите ТЗ(в свободной форме) для разметки выбранного датасета. (Для текстового датасета можно предложить разметку семантики, для набора изображений – детекцию или сегментацию). Не забывайте про примеры в ТЗ!
- Добавьте какой-либо валидатор (принимаются подмешивание тестовых кейсов/рассчет метрики согласованности – в этом случае нужно будет предостаивть разметку от минимум 2х людей).
- Отправьте ваш собранный (но неразмеченный!) датасет знакомому с курса  и предложите разметить по вашему ТЗ. **Получите обратную связь.**
Для разметки допустимо использовать одну из онлайн-платформ или самостоятельные инструменты (предоставьте инструмент вашему разметчику).
- Проанализируйте полученные результаты разметки на наличие выбросов/дубликатов/некорректных результатов. Примените методы для их коррекции или удаления. Оцените метрику согласованности, либо квалификацию вашего разметчика на подмешанных тестовых кейсах.
- Порефлексируйте на тему процесса разметки данных и качества полученных результатов.

In [2]:
import pandas as pd

In [3]:
file_path = './data/df_signs.csv'

In [4]:
df = pd.read_csv(file_path)

In [6]:
df

,width,height,file_name,image_id,category_id,area,iscrowd,category_name,x,y,w,h
0,1280,720,rtsd-frames/autosave16_10_2012_08_15_04_5.jpg,37367,1,1332,0,2_1,558,275,37,36
1,1920,1080,rtsd-frames/autosave16_04_2013_14_43_04_2.jpg,34064,1,675,0,2_1,1093,412,25,27
2,1920,1080,rtsd-frames/autosave16_04_2013_11_41_51_3.jpg,30078,1,756,0,2_1,943,510,27,28
3,1280,720,rtsd-frames/autosave16_10_2012_09_11_09_0.jpg,39515,1,1764,0,2_1,744,298,42,42
4,1920,1080,rtsd-frames/autosave16_04_2013_11_45_39_3.jpg,30202,1,9408,0,2_1,1024,128,96,98
...,...,...,...,...,...,...,...,...,...,...,...,...
31726,1280,720,rtsd-frames/autosave24_10_2013_11_22_56_1.jpg,57663,154,1364,0,7_14,785,335,31,44
31727,1280,720,rtsd-frames/autosave24_10_2013_11_23_20_0.jpg,57702,154,4374,0,7_14,844,259,54,81
31728,1280,720,rtsd-frames/autosave24_10_2013_11_29_00_1.jpg,57823,155,1456,0,8_23,878,346,56,26
31729,1280,720,rtsd-frames/autosave24_10_2013_11_29_00_2.jpg,57824,155,3648,0,8_23,1203,283,76,48
31730,1280,720,rtsd-frames/autosave24_10_2013_11_29_00_0.jpg,57822,155,612,0,8_23,762,367,36,17

In [11]:
sings = df['category_name'].unique()
sings

array(['2_1', '1_23', '1_17', '3_24', '8_2_1', '5_20', '5_19_1', '5_16',
       '3_25', '6_16', '7_15', '2_2', '2_4', '8_13_1', '4_2_1', '1_20_3',
       '1_25', '3_4', '8_3_2', '3_4_1', '4_1_6', '4_2_3', '4_1_1', '1_33',
       '5_15_5', '3_27', '1_15', '4_1_2_1', '6_3_1', '8_1_1', '6_7',
       '5_15_3', '7_3', '1_19', '6_4', '8_1_4', '8_8', '1_16', '1_11_1',
       '6_6', '5_15_1', '7_2', '5_15_2', '7_12', '3_18', '5_6', '5_5',
       '7_4', '4_1_2', '8_2_2', '7_11', '1_22', '1_27', '2_3_2',
       '5_15_2_2', '1_8', '3_13', '2_3', '8_3_3', '2_3_3', '7_7', '1_11',
       '8_13', '1_12_2', '1_20', '1_12', '3_32', '2_5', '3_1', '4_8_2',
       '3_20', '3_2', '2_3_6', '5_22', '5_18', '2_3_5', '7_5', '8_4_1',
       '3_14', '1_2', '1_20_2', '4_1_4', '7_6', '8_1_3', '8_3_1', '4_3',
       '4_1_5', '8_2_3', '8_2_4', '1_31', '3_10', '4_2_2', '7_1', '3_28',
       '4_1_3', '5_4', '5_3', '6_8_2', '3_31', '6_2', '1_21', '3_21',
       '1_13', '1_14', '2_3_4', '4_8_3', '6_15_2', '2_6', '3_18_2',
       '4_1_2_2', '1_7', '3_19', '1_18', '2_7', '8_5_4', '5_15_7', '5_14',
       '5_21', '1_1', '6_15_1', '8_6_4', '8_15', '4_5', '3_11', '8_18',
       '8_4_4', '3_30', '5_7_1', '5_7_2', '1_5', '3_29', '6_15_3', '5_12',
       '3_16', '1_30', '5_11', '1_6', '8_6_2', '6_8_3', '3_12', '3_33',
       '8_4_3', '5_8', '8_14', '8_17', '3_6', '1_26', '8_5_2', '6_8_1',
       '5_17', '1_10', '8_16', '7_18', '7_14', '8_23'], dtype=object)

In [ ]:
,        '4_1_5', '8_2_3', '8_2_4', '1_31', '3_10', '4_2_2', '7_1', '3_28',        '4_1_3', '5_4', '5_3', '6_8_2', '3_31', '6_2', '1_21', '3_21',        '1_13', '1_14', '2_3_4', '4_8_3', '6_15_2', '2_6', '3_18_2',        '4_1_2_2', '1_7', '3_19', '1_18', '2_7', '8_5_4', '5_15_7', '5_14',        '5_21', '1_1', '6_15_1', '8_6_4', '8_15', '4_5', '3_11', '8_18',        '8_4_4', '3_30', '5_7_1', '5_7_2', '1_5', '3_29', '6_15_3', '5_12',        '3_16', '1_30', '5_11', '1_6', '8_6_2', '6_8_3', '3_12', '3_33',        '8_4_3', '5_8', '8_14', '8_17', '3_6', '1_26', '8_5_2', '6_8_1',        '5_17', '1_10', '8_16', '7_18', '7_14', '8_23

In [10]:
for i in sings:
    if '3' == i.split('_')[0]:
        print(i)

3_24
3_25
3_4
3_4_1
3_27
3_18
3_13
3_32
3_1
3_20
3_2
3_14
3_10
3_28
3_31
3_21
3_18_2
3_19
3_11
3_30
3_29
3_16
3_12
3_33
3_6